In [102]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
import pickle

In [103]:
df=pd.read_csv("https://raw.githubusercontent.com/Arannamoy/datasets/refs/heads/main/Churn_Modelling/Churn_Modelling.csv")

In [104]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [105]:
df=df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1)

In [106]:
df.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [107]:
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])

In [108]:
df.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0

In [109]:
onehot_encoder_geo=OneHotEncoder(handle_unknown="ignore")
geo_encoded=onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [110]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [111]:
df=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [112]:
df.head(10)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
5,645,1,44,8,113755.78,2,1,0,149756.71,1,0.0,0.0,1.0
6,822,1,50,7,0.00,2,1,1,10062.80,0,1.0,0.0,0.0
7,376,0,29,4,115046.74,4,1,0,119346.88,1,0.0,1.0,0.0
8,501,1,44,4,142051.07,2,0,1,74940.50,0,1.0,0.0,0.0
9,684,1,27,2,134603.88,1,1,1,71725.73,0,1.0,0.0,0.0

In [113]:
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

In [114]:
from sklearn.model_selection import train_test_split

In [115]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [116]:
scaler=StandardScaler()

In [117]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [118]:
with open("label_encoder_gender.pkl","wb") as fl:
    pickle.dump(label_encoder_gender,fl)

with open("onehot_encoder_geo.pkl","wb") as fl:
    pickle.dump(onehot_encoder_geo,fl)

with open("scaler.pkl","wb") as fl:
    pickle.dump(scaler,fl)

### ANN Regression Problem Statement

In [119]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import Input,layers

In [120]:
model=Sequential(
    [
    Input(shape=(X_train.shape[1],)),
    Dense(64,activation=tf.keras.activations.relu),
    Dense(32,activation=tf.keras.activations.relu),
    Dense(1,activation=tf.keras.activations.relu)
    ]
)
model.compile(optimizer=tf.optimizers.Adam(learning_rate=0.001),loss=tf.losses.MeanAbsoluteError(),metrics=[tf.metrics.Accuracy()])
model.summary()

Model: "sequential_4"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense_12 (Dense)                â”‚ (None, 64)             â”‚           832 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_13 (Dense)                â”‚ (None, 32)             â”‚         2,080 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_14 (Dense)                â”‚ (None, 1)              â”‚            33 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [121]:
from tensorflow.keras import callbacks
import datetime

log_dir="logs/regression/fit"+datetime.datetime.now().strftime("%Y%m%d%H%M")

In [122]:
early_stopping_callback=callbacks.EarlyStopping(monitor='val_loss',patience=50,restore_best_weights=True)

In [123]:
tensorboard_callback=callbacks.TensorBoard(log_dir,histogram_freq=1,)

In [124]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.0000e+00 - loss: 100613.5625 - val_accuracy: 0.0000e+00 - val_loss: 98147.7891
Epoch 2/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 99871.7500 - val_accuracy: 0.0000e+00 - val_loss: 96641.9219
Epoch 3/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 97245.9531 - val_accuracy: 0.0000e+00 - val_loss: 92772.1094
Epoch 4/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 92036.3750 - val_accuracy: 0.0000e+00 - val_loss: 86273.2656
Epoch 5/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 84378.3047 - val_accuracy: 0.0000e+00 - val_loss: 77863.5703
Epoch 6/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 75277.6250 - val_accuracy: 0.0000e+00 - val_loss: 69001.7891
Epoch 7/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 66346.4922 - val_accuracy: 0.0000e+00 - val_loss: 61213.9141
Epoch 8/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 59220.9297 - val_accuracy: 0.0000e+00 - val_loss: 55676.8945
Epoch 9/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 54607.2891 - val_accuracy: 0.0000e+00 - val_loss: 52590.8047
Epoch 10/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 52115.9414 - val_accuracy: 0.0000e+00 - val_loss: 51225.0625
Epoch 11/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 50989.7734 - val_accuracy: 0.0000e+00 - val_loss: 50740.6641
Epoch 12/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 50539.6328 - val_accuracy: 0.0000e+00 - val_loss: 50602.7539
Epoch 13/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 50345.8203 - val_accuracy: 0.0000e+00 - val_loss: 50551.5039
Epoch 14/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 50238.7656 - val_accuracy: 0.0000e+00 - val_loss: 50515.3906
Epoch 15/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 50166.0625 - val_accuracy: 0.0000e+00 - val_loss: 50486.9102
Epoch 16/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 50116.8281 - val_accuracy: 0.0000e+00 - val_loss: 50438.7266
Epoch 17/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 50076.1797 - val_accuracy: 0.0000e+00 - val_loss: 50404.8516
Epoch 18/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 50038.6602 - val_accuracy: 0.0000e+00 - val_loss: 50380.1602
Epoch 19/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 50002.8633 - val_accuracy: 0.0000e+00 - val_loss: 50355.5273
Epoch 20/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49974.6133 - val_accuracy: 0.0000e+00 - val_loss: 50329.7656
Epoch 21/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49946.6562 - val_accuracy: 0.0000e+00 - val_loss: 50303.9336
Epoch 22/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49923.4414 - val_accuracy: 0.0000e+00 - val_loss: 50291.4766
Epoch 23/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49896.1797 - val_accuracy: 0.0000e+00 - val_loss: 50261.1133
Epoch 24/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49874.5508 - val_accuracy: 0.0000e+00 - val_loss: 50244.5352
Epoch 25/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49855.0195 - val_accuracy: 0.0000e+00 - val_loss: 50226.7344
Epoch 26/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49834.8281 - val_accuracy: 0.0000e+00 - val_loss: 50205.6211
Epoch 27/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49817.4336 - val_accuracy: 0.0000e+00 - val_loss: 50203.4297
Epoch 28/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49796.8125 - val_accuracy: 0.0000e+00 - val_loss: 50185.7539
Epoch 29/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49782.6914 - val_accuracy: 0.0000e+00 - val_loss: 50179.0742
Epoch 30/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49767.7578 - val_accuracy: 0.0000e+00 - val_loss: 50172.3281
Epoch 31/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49753.2539 - val_accuracy: 0.0000e+00 - val_loss: 50159.2617
Epoch 32/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49736.5742 - val_accuracy: 0.0000e+00 - val_loss: 50148.0352
Epoch 33/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49720.7734 - val_accuracy: 0.0000e+00 - val_loss: 50145.4531
Epoch 34/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49707.2656 - val_accuracy: 0.0000e+00 - val_loss: 50133.3867
Epoch 35/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49697.4414 - val_accuracy: 0.0000e+00 - val_loss: 50125.5469
Epoch 36/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49681.8203 - val_accuracy: 0.0000e+00 - val_loss: 50108.8672
Epoch 37/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49672.6523 - val_accuracy: 0.0000e+00 - val_loss: 50107.0547
Epoch 38/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49659.6484 - val_accuracy: 0.0000e+00 - val_loss: 50109.9180
Epoch 39/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49647.9648 - val_accuracy: 0.0000e+00 - val_loss: 50098.0508
Epoch 40/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49642.6523 - val_accuracy: 0.0000e+00 - val_loss: 50096.0117
Epoch 41/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49627.2852 - val_accuracy: 0.0000e+00 - val_loss: 50094.0312
Epoch 42/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49620.2227 - val_accuracy: 0.0000e+00 - val_loss: 50092.2148
Epoch 43/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49611.3633 - val_accuracy: 0.0000e+00 - val_loss: 50087.3867
Epoch 44/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49598.5078 - val_accuracy: 0.0000e+00 - val_loss: 50079.3555
Epoch 45/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49595.1016 - val_accuracy: 0.0000e+00 - val_loss: 50090.1328
Epoch 46/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49583.8242 - val_accuracy: 0.0000e+00 - val_loss: 50081.5898
Epoch 47/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49574.5078 - val_accuracy: 0.0000e+00 - val_loss: 50083.9258
Epoch 48/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49564.0859 - val_accuracy: 0.0000e+00 - val_loss: 50089.5273
Epoch 49/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49559.2148 - val_accuracy: 0.0000e+00 - val_loss: 50082.2969
Epoch 50/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49550.0742 - val_accuracy: 0.0000e+00 - val_loss: 50078.6758
Epoch 51/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49541.5625 - val_accuracy: 0.0000e+00 - val_loss: 50071.0000
Epoch 52/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49537.2109 - val_accuracy: 0.0000e+00 - val_loss: 50074.3672
Epoch 53/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49530.5117 - val_accuracy: 0.0000e+00 - val_loss: 50074.8750
Epoch 54/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49523.0859 - val_accuracy: 0.0000e+00 - val_loss: 50068.4727
Epoch 55/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49515.8438 - val_accuracy: 0.0000e+00 - val_loss: 50065.7617
Epoch 56/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49507.2227 - val_accuracy: 0.0000e+00 - val_loss: 50058.2734
Epoch 57/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49499.5938 - val_accuracy: 0.0000e+00 - val_loss: 50062.6094
Epoch 58/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49496.3633 - val_accuracy: 0.0000e+00 - val_loss: 50065.4414
Epoch 59/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49497.8750 - val_accuracy: 0.0000e+00 - val_loss: 50059.3945
Epoch 60/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49483.8125 - val_accuracy: 0.0000e+00 - val_loss: 50074.0078
Epoch 61/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49480.6445 - val_accuracy: 0.0000e+00 - val_loss: 50070.9922
Epoch 62/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49474.4531 - val_accuracy: 0.0000e+00 - val_loss: 50068.0156
Epoch 63/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49469.5586 - val_accuracy: 0.0000e+00 - val_loss: 50065.6406
Epoch 64/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49466.4414 - val_accuracy: 0.0000e+00 - val_loss: 50068.7773
Epoch 65/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49460.1680 - val_accuracy: 0.0000e+00 - val_loss: 50064.8750
Epoch 66/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49453.2344 - val_accuracy: 0.0000e+00 - val_loss: 50069.6992
Epoch 67/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49450.1680 - val_accuracy: 0.0000e+00 - val_loss: 50066.0273
Epoch 68/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49443.2656 - val_accuracy: 0.0000e+00 - val_loss: 50065.6875
Epoch 69/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49439.8008 - val_accuracy: 0.0000e+00 - val_loss: 50073.5000
Epoch 70/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49434.2383 - val_accuracy: 0.0000e+00 - val_loss: 50067.9844
Epoch 71/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49430.1484 - val_accuracy: 0.0000e+00 - val_loss: 50075.6602
Epoch 72/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49425.1836 - val_accuracy: 0.0000e+00 - val_loss: 50080.7148
Epoch 73/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49422.5156 - val_accuracy: 0.0000e+00 - val_loss: 50077.6016
Epoch 74/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49416.1797 - val_accuracy: 0.0000e+00 - val_loss: 50086.6719
Epoch 75/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49413.3164 - val_accuracy: 0.0000e+00 - val_loss: 50065.6406
Epoch 76/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49408.9414 - val_accuracy: 0.0000e+00 - val_loss: 50070.0820
Epoch 77/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49402.9258 - val_accuracy: 0.0000e+00 - val_loss: 50066.4531
Epoch 78/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49402.9805 - val_accuracy: 0.0000e+00 - val_loss: 50070.9805
Epoch 79/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49397.5312 - val_accuracy: 0.0000e+00 - val_loss: 50078.8281
Epoch 80/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49396.5586 - val_accuracy: 0.0000e+00 - val_loss: 50058.5156
Epoch 81/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49394.1172 - val_accuracy: 0.0000e+00 - val_loss: 50072.3008
Epoch 82/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49386.4531 - val_accuracy: 0.0000e+00 - val_loss: 50077.8984
Epoch 83/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49383.7500 - val_accuracy: 0.0000e+00 - val_loss: 50074.2656
Epoch 84/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49380.2578 - val_accuracy: 0.0000e+00 - val_loss: 50071.6406
Epoch 85/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49372.1953 - val_accuracy: 0.0000e+00 - val_loss: 50071.7930
Epoch 86/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49372.4531 - val_accuracy: 0.0000e+00 - val_loss: 50078.7305
Epoch 87/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49373.1445 - val_accuracy: 0.0000e+00 - val_loss: 50076.5742
Epoch 88/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49367.0586 - val_accuracy: 0.0000e+00 - val_loss: 50069.0312
Epoch 89/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49361.8086 - val_accuracy: 0.0000e+00 - val_loss: 50090.1797
Epoch 90/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49360.6523 - val_accuracy: 0.0000e+00 - val_loss: 50082.4297
Epoch 91/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49353.2109 - val_accuracy: 0.0000e+00 - val_loss: 50083.6016
Epoch 92/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49353.6094 - val_accuracy: 0.0000e+00 - val_loss: 50081.6211
Epoch 93/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49348.6836 - val_accuracy: 0.0000e+00 - val_loss: 50090.1641
Epoch 94/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49348.4961 - val_accuracy: 0.0000e+00 - val_loss: 50091.0195
Epoch 95/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49342.3047 - val_accuracy: 0.0000e+00 - val_loss: 50085.6406
Epoch 96/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49344.5078 - val_accuracy: 0.0000e+00 - val_loss: 50089.3438
Epoch 97/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49338.7383 - val_accuracy: 0.0000e+00 - val_loss: 50097.6914
Epoch 98/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49336.7383 - val_accuracy: 0.0000e+00 - val_loss: 50094.1523
Epoch 99/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49333.5664 - val_accuracy: 0.0000e+00 - val_loss: 50097.6914
Epoch 100/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1ms/step - accuracy: 0.0000e+00 - loss: 49330.8242 - val_accuracy: 0.0000e+00 - val_loss: 50096.7305

In [125]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [129]:
%tensorboard --logdir logs/regression/fit202602132346

Reusing TensorBoard on port 6007 (pid 180023), started 0:00:05 ago. (Use '!kill 180023' to kill it.)

In [130]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')

79/79 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 876us/step - accuracy: 0.0000e+00 - loss: 50058.2734
Test MAE: 0.0

In [132]:
model.save("regression.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.