In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.pipeline import Pipeline
from scikeras.wrappers import KerasClassifier
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [13]:
df=pd.read_csv("https://raw.githubusercontent.com/Arannamoy/datasets/refs/heads/main/Churn_Modelling/Churn_Modelling.csv")

In [14]:
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [15]:
label_encoder=LabelEncoder()
df['Gender']=label_encoder.fit_transform(df['Gender'])

df['Geography']=label_encoder.fit_transform(df['Geography'])

In [16]:
df.head(15)

    CreditScore  Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0           619          0       0  ...               1        101348.88       1
1           608          2       0  ...               1        112542.58       0
2           502          0       0  ...               0        113931.57       1
3           699          0       0  ...               0         93826.63       0
4           850          2       0  ...               1         79084.10       0
5           645          2       1  ...               0        149756.71       1
6           822          0       1  ...               1         10062.80       0
7           376          1       0  ...               0        119346.88       1
8           501          0       1  ...               1         74940.50       0
9           684          0       1  ...               1         71725.73       0
10          528          0       1  ...               0         80181.12       0
11          497          2       1  ...               0         76390.01       0
12          476          0       0  ...               0         26260.98       0
13          549          0       0  ...               0        190857.79       0
14          635          2       0  ...               1         65951.65       0

[15 rows x 11 columns]

In [17]:
X=df.drop('Exited',axis=1)
y=df['Exited']

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.25)

In [19]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [20]:
import pickle

In [21]:
with open("label_encoder.pkl","wb") as fl:
    pickle.dump(label_encoder,fl)

with open("scaler.pkl","wb") as fl:
    pickle.dump(scaler,fl)

In [ ]:
### Define a function to create a model and try different parameter